<div class="container">
  <h2>Display Data Table</h2>
  <label>Filter: </label>
  <input
    type="text"
    placeholder="Search for people..."
    [(ngModel)]="searchTerm"
    (input)="filterUser()"
  />

  <label>Sort By: </label>
  <select (change)="onSortChange($event)">
    <option value="up">Ascending</option>
    <option value="down">Descending</option>
  </select>

  <table border="1" *ngIf="filteredUserData.length">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>DOB</th>
        <th>Title</th>
        <th>Phone Number</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of filteredUserData">
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.birthdate}}</td>
        <td>{{user.title}}</td>
        <td>{{user.phone}}</td>
      </tr>
    </tbody>
  </table>
</div>